@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    list-style     : none !important;
    text-decoration: none !important;
    font-family    : "Poppins", sans-serif;
}

:root {
    --color-gray         : #616161;
    --color-white        : #fff;
    --color-primary      : #4481eb;
    --color-gradient     : #04befe;
    --gradient-background: linear-gradient(-45deg, var(--color-primary) 0%, var(--color-gradient) 100%);
}

body {
    position  : relative;
    width     : 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body.active {
    overflow: hidden !important;
}

.container_box {
    position        : relative;
    width           : 100%;
    background-color: var(--color-white);
    min-height      : 90vh;
    overflow        : hidden;
}

.forms-container {
    position: absolute;
    width   : 100%;
    height  : 100%;
    top     : 0;
    left    : 0;
}

.signin-signup {
    position             : absolute;
    top                  : 50%;
    transform            : translate(-50%, -50%);
    left                 : 75%;
    width                : 50%;
    transition           : 1s 0.7s ease-in-out;
    display              : grid;
    grid-template-columns: 1fr;
    z-index              : 5;
}

form {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    padding        : 0rem 5rem;
    transition     : all 0.2s 0.7s;
    overflow       : hidden;
    grid-column    : 1 / 2;
    grid-row       : 1 / 2;
}

form.sign-up-form {
    opacity: 0;
    z-index: 1;
}
.sign-up-form .btn{
  color: #fff !important;
}
.sign-in-form .btn{
  color: #fff !important;
}

form.sign-in-form {
    z-index: 2;
}

.title {
    font-size    : 2.2rem;
    color        : #444;
    margin-bottom: 10px;
}

.input-field {
    max-width            : 380px;
    width                : 100%;
    background-color     : #f0f0f0;
    margin               : 10px 0;
    height               : 55px;
    border-radius        : 55px;
    display              : grid;
    grid-template-columns: 15% 85%;
    padding              : 0 0.4rem;
    position             : relative;
}

.input-field i {
    text-align : center;
    line-height: 55px;
    color      : #acacac;
    transition : 0.5s;
    font-size  : 1.1rem;
}

.input-field input {
    background : none;
    outline    : none;
    border     : none;
    line-height: 1;
    font-weight: 600;
    font-size  : 1.1rem;
    color      : #333;
}
.input-password{
    position: relative;
}
.input-password .bx-show,.input-password .bx-hide{
    position: absolute;
    top:0;
    right:20px;
    font-size:24px;
    cursor: pointer;
}
.input-password{
    position: relative;
}
.input-password #password{
   padding-right: 40px !important;
}
.input-field input::placeholder {
    color      : #aaa;
    font-weight: 500;
}

.social-text {
    padding  : 0.7rem 0;
    font-size: 1rem;
}

.social-media {
    display        : flex;
    justify-content: center;
}

.social-icon {
    height         : 46px;
    width          : 46px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : 0 0.45rem;
    color          : #333;
    border-radius  : 50%;
    border         : 1px solid #333;
    text-decoration: none;
    font-size      : 1.1rem;
    transition     : 0.3s;
}

.social-icon:hover {
    color       : var(--color-primary);
    border-color: var(--color-primary);
}

.btn {
    /* width         : 150px; */
    background    : var(--gradient-background);
    border        : none;
    outline       : none;
    height        : 49px;
    border-radius : 49px;
    color         : var(--color-white);
    text-transform: uppercase;
    font-weight   : 600;
    margin        : 10px 0;
    cursor        : pointer;
    transition    : 0.5s;
    padding: 10px 20px;
}

.panels-container {
    position             : absolute;
    height               : 100%;
    width                : 100%;
    top                  : 0;
    left                 : 0;
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
}

.container_box:before {
    content         : "";
    position        : absolute;
    height          : 2000px;
    width           : 2000px;
    top             : -10%;
    right           : 48%;
    transform       : translateY(-50%);
    background-image: var(--gradient-background);
    transition      : 1.8s ease-in-out;
    border-radius   : 50%;
    z-index         : 6;
}

.image {
    width           : 100%;
    transition      : transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.panel {
    display        : flex;
    flex-direction : column;
    align-items    : flex-end;
    justify-content: space-around;
    text-align     : center;
    z-index        : 6;
}

.left-panel {
    pointer-events: all;
    padding       : 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding       : 3rem 12% 2rem 17%;
}

.panel .content {
    color           : var(--color-white);
    transition      : transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size  : 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding  : 0.7rem 0;
}

.btn.transparent {
    margin     : 0;
    background : none;
    border     : 2px solid var(--color-white);
    width      : 130px;
    height     : 41px;
    font-weight: 600;
    font-size  : 0.8rem;
}

.right-panel .image,
.right-panel .content {
    transform: translateX(800px);
}


/* ANIMATION */

.container_box.sign-up-mode:before {
    transform: translate(100%, -50%);
    right    : 52%;
}

.container_box.sign-up-mode .left-panel .image,
.container_box.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.container_box.sign-up-mode .signin-signup {
    left: 25%;
}

.container_box.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
}

.container_box.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
}

.container_box.sign-up-mode .right-panel .image,
.container_box.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.container_box.sign-up-mode .left-panel {
    pointer-events: none;
}

.container_box.sign-up-mode .right-panel {
    pointer-events: all;
}

@media (max-width: 760px) {
    .container_box {
        min-height: 700px;
        height    : 90vh;
    }
}
@media (max-width: 870px) {
    .container_box {
        min-height: 800px;
        height    : 90vh;
    }
    .signin-signup {
        width     : 100%;
        top       : 95%;
        transform : translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .signin-signup,
    .container_box.sign-up-mode .signin-signup {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows   : 1fr 2fr 1fr;
    }

    .panel {
        flex-direction : row;
        justify-content: space-around;
        align-items    : center;
        padding        : 2.5rem 8%;
        grid-column    : 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .image {
        width           : 200px;
        transition      : transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel .content {
        padding-right   : 15%;
        transition      : transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding  : 0.5rem 0;
    }

    .btn.transparent {
        width    : 110px;
        height   : 35px;
        font-size: 0.7rem;
    }

    .container_box:before {
        width     : 1500px;
        height    : 1500px;
        transform : translateX(-50%);
        left      : 30%;
        bottom    : 68%;
        right     : initial;
        top       : initial;
        transition: 2s ease-in-out;
    }

    .container_box.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom   : 32%;
        right    : initial;
    }

    .container_box.sign-up-mode .left-panel .image,
    .container_box.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .container_box.sign-up-mode .right-panel .image,
    .container_box.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }

    .container_box.sign-up-mode .signin-signup {
        top      : 5%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .image {
        display: none;
    }

    .panel .content {
        padding: 0.5rem 1rem;
    }

    .container_box {
        padding: 1.5rem;
    }

    .container_box:before {
        bottom: 72%;
        left  : 50%;
    }

    .container_box.sign-up-mode:before {
        bottom: 28%;
        left  : 50%;
    }
}


/* Login Signup Ens */




/* Home */
/* .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
  .navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  }
  @media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
} */
.navbar {
    border-bottom: 3px solid #04befe;
    z-index      : 100 !important;

}

.navbar-brand {
    width   : 50px;
    height  : 50px;
    position: relative;
}

.navbar-brand img {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.hero {
    min-height         : calc(25vh + 60px);
    width              : 100%;
    position           : relative;
    background-image   : linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/tires-road_1265x633.jpg);
    background-repeat  : no-repeat;
    background-position: center center;
    background-size    : cover;
    display            : flex;
    justify-content    : center;
    text-align         : center;
    align-items        : center;
    flex-direction     : column;
}

.hero .hero_title {
    font-size  : 3rem;
    font-weight: 600;
    font-style : italic;
    color      : #fff;
    text-shadow: 3px 3px #04befe;
}

.hero .desc {
    font-size  : 1.4rem;
    font-weight: 600;
    color      : #fff;
}

.filter {
    display        : flex;
    justify-content: center;
    padding        : 5px;
}

.drop_down_box {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 8px 10px;
    margin-top     : 10px;
    border-radius  : 10px;
    border         : 2px solid #04befe;
}

.filter_inputs_box .field {
    width: 100%;
}

.filter_inputs_box .field select {
    width           : 100%;
    padding         : 5px;
    border          : 2px solid #eee;
    background-color: #fff;
    color           : gray;
    outline         : none;
    border-radius   : 5px;
    border-bottom   : 2px solid #04befe;

}

.filter_inputs_box .drop_down_title {
    width        : 100%;
    margin-top   : 0px;
    margin-bottom: 2px;
}

.main {
    max-width: 100%;
    width    : 100%;
    margin   : 10px auto;
    position : relative !important;
}

.main .add_box {
    max-width      : 170px;
    min-height     : 400px;
    width          : 100%;
    border-radius  : 5px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : fixed !important;
    top            : 50% !important;
    transform :translateY(-13%) !important;
    text-align     : center;
    left           : 15px;
    background     : #fff;
    border         : 2px solid #999;
}

.main .add_box2 {
    top            : 50% !important;
    transform :translateY(-13%) !important;
    max-width    : 170px;
    width        : 100%;
    border-radius: 5px;
    display      : flex;
    text-align   : center;

    justify-content: center;
    align-items    : center;
    position       : fixed !important;
    top            : 420px;
    right          : 15px;
    background     : #fff;
    border         : 2px solid #999;
    min-height     :400px;
}
.vehicle_details .add_box,.vehicle_details .add_box2{
    min-height     :400px;
    min-height     : 400px;
    transform :translateY(-50%) !important;


}
.container-gallery .add_box,
.container-gallery .add_box2 {
    max-width : 220px;
    min-height: 500px;
}

.vehicle_details .add_box {
    top: 100px;
}

.vehicle_details .add_box2 {
    top: 100px;
}

@media (max-width: 1438px) {

    .main .add_box {
        max-width : 160px;
        min-height: 450px;
        width     : 100%;
        position  : fixed !important;
        top       : 420px;
        text-align: center;
        left      : 30px;
    }

    .main .add_box2 {
        max-width : 160px;
        min-height: 450px;
        width     : 100%;
        position  : fixed !important;
        top       : 420px;
        text-align: center;
        right      : 30px;
    }
}

@media (max-width: 1280px) {
    .main .add_box {
        display: none;
    }

    .main .add_box2 {
        display: none;
    }

    .main {
        max-width: 1700px !important;
        width    : 100%;
        margin   : 10px auto;
        position : relative !important;
        padding  : 6px
    }

    .car_details_container {
        max-width  : 650px;
        width      : 100%;
        position   : relative;
        margin-left: 0 !important;
    }

    .list_box {
        max-width    : 420px !important;
        width        : 100%;
        padding      : 10px 15px;
        border-radius: 8px;
        margin       : 0;
        border       : 2px solid #04befe;
    }

    .list_container {
        display        : flex;
        justify-content: center;
    }
}

.main .car_box {
    max-width       : 100%;
    min-width       : 270px;
    width           : 100%;
    padding-bottom  : 0;
    border          : 1px solid #999;
    position        : relative;
    margin          : 10px 0;
    z-index         : 1;
    background-color: #fff;
}

.main .car_box .car_image {
    position : relative;
    max-width: 100%;
    min-width: 270px;
    width    : 100%;
    height   : 213.75px;
}

.main .car_box .car_image img {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.main .car_box .content_box {
    padding: 5px !important;
}

.main .car_box .content_box .sub_content .single_detail {
    margin-bottom: -7px;
}

.main .car_box .content_box .sub_content .single_detail label {
    font-size  : 13px;
    font-weight: 400;
}

.main .car_box .content_box .sub_content .single_detail p {
    font-size  : 12px;
    font-weight: 700;
    line-height: 10px;
}

.main .car_box .content_box .car_title {
    font-size  : 18px;
    font-weight: 600;
}

.main .car_box .content_box .car_title span {
    font-size  : 14px;
    font-weight: 600;
}


footer {
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    text-align      : center;
    background-color: #000;
    border-top      : 3px solid #04befe;
    position        : absolute;
    bottom          : 0;
    z-index: 1009 !important;
}

footer .footer_title {
    padding      : 15px 0;
    color        : #fff;
    font-size    : 16px;
    margin-bottom: 0;
    font-weight  : 600;
}











.car_details_container {
    max-width  : 800px;
    width      : 100%;
    position   : relative;
    margin-left: 0px;
}


.car_details_container .card_description {
    max-width    : 800px !important;
    width        : 100% !important;
    padding      : 20px 10px;
    border-radius: 8px;
    border       : 2px solid #4481eb;
    margin-top   : 1rem;
}

.car_details_container .card_description.des_hidden {
    border       : 2px solid #04befe;
    border-radius: 4px;

}

.car_details_container .card_description.comment_section {
    border       : 2px solid #E91E63;
    border-radius: 4px;

}

.car_details_container .card_description .dec_box {
    margin-bottom: 30px;

}

.car_details_container .card_description .dec_box:last-child {
    margin-bottom: 0px;
}

.car_details_container .card_description .dec_box .desc_heading {
    font-size  : 17px;
    font-weight: 700;
    color      : #4481eb
}

.car_details_container .card_description.des_hidden .dec_box .desc_heading {
    color: #04befe
}

.car_details_container .card_description .dec_box .desc_details {
    font-size  : 15px;
    font-weight: normal;
    color      : #333
}

.car_details_container .back {
    color        : #04befe;
    font-weight  : 600;
    display      : flex;
    cursor       : pointer;
    margin-bottom: 10px;
    align-items  : center;
}

.car_details_container .back ion-icon {
    margin-right: 10px;
}


.list_box {
    max-width    : 410px;
    width        : 100%;
    padding      : 10px 15px;
    border-radius: 8px;
    border       : 2px solid #04befe;
    z-index      : 10;
    margin-left  : 0rem;
}

.list_box .list_heading {
    font-size  : 20px;
    font-weight: 600;
    color      : #04befe
}

.list_box .year {
    font-size  : 14px;
    font-weight: 600;
    color      : #04befe;
    line-height: 10px;
}

.list_box .list_outer {
    margin-top  : 20px;
    margin-left : 0 !important;
    padding-left: 0 !important;

}

.list_box .list_outer li {
    margin-left    : 0 !important;
    padding-left   : 0 !important;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 10px;
    border-bottom  : 1px solid #4481eb;
    color          : #4481eb
}

.list_box .list_outer li span {
    font-size: 13px;
}

.list_box .list_outer li span:nth-child(2) {
    font-weight: bold;
}


.comment_section .comment_box .comment_count {
    display    : flex;
    align-items: center;
    font-size  : 16px;
    font-weight: 600;
    color      : #E91E63
}


.comment_section .comment_box .comment_count span {
    width        : 25px;
    height       : 25px;
    border-radius: 50%;
    display      : grid;
    place-items  : center;
    background   : #E91E63;
    color        : #fff !important;
    cursor       : pointer;
    margin-left  : 10px;
}

.comment_section .comment_box .comment_count ion-icon {
    color    : #fff !important;
    font-size: 20px;
}

.comment_section .comment_box .comment_single {
    margin-top   : 4px;
    margin-bottom: 20px;
}

.comment_section .comment_box .comment_single:last-child {
    margin-bottom: 0px;
}

.comment_section .comment_box .comment_single .comment_by {
    display      : flex;
    align-items  : center;
    margin-bottom: 8px;
    font-size    : 15px;
    font-weight  : 600;
}

.comment_section .comment_box .comment_single .comment_by ion-icon {
    margin-right: 10px;
    font-size   : 27px;
}
















/* Gallery */


.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus {
    outline: none;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height  : 100%;
}

.flickity-slider {
    position: absolute;
    width   : 100%;
    height  : 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color        : transparent;
    -webkit-user-select        : none;
    -moz-user-select           : none;
    -ms-user-select            : none;
    user-select                : none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
    position         : absolute;
    top              : 50%;
    /* left          :10px; */
    opacity          : 1;
    width            : 30px;
    height           : 102%;
    border           : none;
    border-radius    : 0;
    background       : #4481eb;
    cursor           : pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
    transform        : translateY(-50%);
}

/* .flickity-prev-next-button:hover { background: white; } */

.flickity-prev-next-button:focus {
    outline   : none;
    /* box-shadow: 0 0 0 5px #09F; */
}


.container-outer .carousel-main .flickity-prev-next-button {
    background: transparent;
}

.flickity-prev-next-button.previous {
    left: -33px;
    top: 75px;
}

.flickity-prev-next-button.next {
    right: -33px;
    top: 75px;  
}

.gallery_box{
    position: relative;
}
.gallery_box  .flickity-prev-next-button.next,
.gallery_box  .flickity-prev-next-button.previous{
    top: 50% !important;
}


.gallery_box .flickity-prev-next-button.previous {
    left: -35px !important;
}

.gallery_box .flickity-prev-next-button.next {
    right: -35px!important;
}


.flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor : auto;
}

.flickity-prev-next-button svg {
    position : absolute;
    left     : 40%;
    top      : 50%;
    transform: translate(-50%, -50%);
    width    : 50%;
    height   : 50%;
}
.flickity-button:last-child  svg{
    position : absolute;
    left     : 55% !important;
    top      : 50% !important;
    transform: translate(-50%, -50%);
    width    : 50%;
    height   : 50%;
}

.flickity-prev-next-button .arrow {
    fill: #fff;
}

.container-outer .carousel-main .flickity-prev-next-button .arrow {
    fill: #fff;
}

.container-outer .carousel-main .flickity-prev-next-button svg {
    width : 100%;
    height: 100%;
}

.container-outer .carousel-main .flickity-prev-next-button.previous {
    left: 15px;
    top: 50%;
}

.container-outer .carousel-main .flickity-prev-next-button.next {
    right: 15px;
    top: 50%;
}
.gallery_box .container-outer .carousel-main .flickity-prev-next-button.next {
    right: 10px !important;
    top: 50%;
}
.gallery_box .container-outer .carousel-main .flickity-prev-next-button.previous {
    left: 10px !important;
    top: 50%;
}


.container-outer .carousel {
    background: transparent;

}

.container-outer .carousel-main {
    margin-bottom: 8px;
}

.container-outer .carousel-cell {
    width        : 100%;
    height : 690px;
    
    margin-right : 8px;
    background   : transparent;
    border-radius: 5px;
    transform    : rotate(90deg);
}

.gallery_box .container-outer .carousel-cell {
    width       : 100%;
    height      : 483.75px;
    margin-right: 8px;
}

.flickity-viewport {
    height      : 113px;
    touch-action: pan-y;
}

.container-outer .carousel-nav .carousel-cell {
    width        : 144px !important;
    height       : 150px !important;
    position     : relative;
    /* overflow  : hidden; */
    border-radius: 10px;

    flex-direction: column;
    transform     : rotate(-90deg);
}
 .carousel-cell.is-nav-selected {
  border: 5px solid var(--color-gradient);
  background: #000;
}
.gallery_box .carousel-cell.is-nav-selected {
  border: 4px solid var(--color-gradient);
  background: transparent !important;
  position:relative;
}

.gallery_box .container-outer .carousel-nav .carousel-cell {

    width : 110px !important;
    background: #000;
    height:147px !important;
    position:absolute !important;
    overflow: hidden !important;

} 
.gallery_box .container-outer .carousel-nav .carousel-cell img{
    position: absolute;
    top: -3px;
    left: -10px;
    width: 140% !important;
    height: 100% !important;
    object-fit: cover;
}

.container-outer .carousel-nav .carousel-cell img {
    position     : absolute;
    top          : 0;
    left         : 0;
    right        : 0;
    border-radius: 10px;
    width        : 100% !important;
    height       : 100% !important;
    object-fit   : contain;
    transform    : rotate(-90deg);
}
.container-outer .carousel-main{
    overflow: hidden;
}
.container-outer .carousel-main img {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    display   : block;
    object-fit: cover;
    margin    : 0 auto;
}

.container-outer .carousel-cell{
    position: absolute; left: 0px; transform: translateX(746.23%);
}
.container-outer {
    /* width  : 854px; */
    width      : 80%;
    height: 60vh !important;
    position   : relative !important;
    margin-left: 50px !important;
}

.gallery_box .container-outer {
    width      : 100%;
    max-width  : 645px;
    margin-left: 0px !important;
}

.container-outer .carousel-nav {
    position : absolute;
    bottom      : 15%;
    right    : -38.3% !important;
    transform: translateY(-50%);
    transform: rotate(90deg);
    max-width: 585px;
    width    : 100%;
    height   : 145px;
}

.gallery_box .container-outer .carousel-nav {
    position : absolute;
    top      : 36%;
    right    : -44.5% !important;
    width: 415px;
}

.row_top_gallery {
  
    width        : 100%;
    background   : #4481eb;
    color        : #fff;
    margin-bottom: 20px;
    margin-top   : -10px;
    height:50px;
    
}

@media (max-width:991px) {
    .gallery_box {
        margin-bottom: 5.5rem !important;
    }
    .gallery_box .flickity-prev-next-button.previous {
        left: 0px !important;
    }
    
    .gallery_box .flickity-prev-next-button.next {
        right: 0px!important;
    }
    .flickity-prev-next-button.previous {
        left: -0px;
    }
    
    .flickity-prev-next-button.next {
        right: -0px;
    }
    .gallery_box .flickity-prev-next-button.previous {
        left: 0px;
    }
    
    .gallery_box .flickity-prev-next-button.next {
        right: 0px;
    }
  
}

@media (max-width:1438px) {
    .container-outer .carousel-nav .carousel-cell {
        height        : 100px !important;
        width         : 112px !important;
        position      : relative;
        flex-direction: column;
        transform     : rotate(0deg);
    }

    .container-outer {
        max-width  : 100%;
        width      : 100%;
        margin     : 0 auto;
        position   : relative;
        margin-left: 0px !important;
    }

    .container-outer .carousel-cell {
        width        : 100%;
        height       : 429px;
        margin-right : 8px;
        background   : transparent;
        border-radius: 5px;
        transform    : rotate(90deg);
    }

    .container-outer .carousel-nav {
        position : absolute;
        top      : 100% !important;
        bottom   : 0 !important;
        left     : 0;
        transform: translateY(0);
        transform: rotate(0deg);
        max-width: 100% !important;
        width    : 100% !important;
        height   : 150px;
    }

    .container-outer .carousel-nav .carousel-cell {
        width         : 144px !important;
        height        : 150px !important;
        position      : relative;
        border-radius : 10px;
        flex-direction: column;
        transform     : rotate(0deg);
    }

    .container-outer .carousel-nav .carousel-cell img {
        position     : absolute;
        top          : 0;
        left         : 0;
        right        : 0;
        border-radius: 10px;
        height       : 100% !important;
        width        : 100% !important;
        object-fit   : contain;
        transform    : rotate(0deg);
    }
}

















/* Dahsboard */
@media (max-width:991px) {
    .admin_container{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
.admin_container{
    width: 100%;
    position: relative;
    background-color: #EEEEEE !important;
    min-height: 100vh;
    padding:20px 30px;
    padding-left: 60px;
}
.admin_container .admin_title{
    font-size: 1.8rem;
}
.admin_container .admin_nav{
    margin-top: 1rem;
    padding-left: 0;
}
.admin_container .admin_nav li{
    margin-bottom: 10px;
    padding-left: 0;

}
.admin_container .admin_nav li a{
    font-size: 18px;
    font-weight: 500;
    color: #212121;
}
.user_table{
    padding:20px 5px;
    background-color:#04befe33
}
.user_table table{
    padding:20px 5px;
    background-color:transparent !important;
}
.admin_container .user_table tr td,.admin_container .user_table thead tr th{
    text-align: center;
}
.admin_container .user_table table thead tr th{
   font-weight: 500;
   background-color: #EEEEEE !important;
   font-size:14;
}
.admin_container .user_table table tbody tr td{
   font-size:14px !important;
   line-height: 2rem;
   padding-bottom: 0 !important;
}
.modification{
    display: flex;
    justify-content: space-between;
}
.admin_container .user_table .edit,
.admin_container .user_table .delete{
    padding: 3px 15px;
    width: 50%;
    color:#212121;
    font-weight: 600;
    border: none !important;
    outline: none !important;
    border-radius: 5px;
    background-color: #F8BBD0;
}

.admin_container .user_table .delete{
    background-color: #FF7043;
    margin-left: 15px;
}

.admin_container .user_table .add_vehicle{
   padding:0px 8px;
    border-radius: 50%;
    background: #81C784;
    border: 1px solid #000;
    z-index:10;
    color:#000;
    font-size: 22px;
    font-weight: 500;

}














/* Contact Form */
/* #contact {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-links, .contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
  }
  
  
  .contact-links {
    background-color: #1f2e43;
    background:
      radial-gradient(
        circle at 55% 92%, #426691 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #426691 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
      ), 
      radial-gradient(
        circle at 0% 0%, #263a53 0 40%, transparent 40.2%
      ), 
      #1f2e43;
    border-radius: 10px 0 0 10px;
  }
  
  .contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 0 10px 10px 0;
  }
  
  @media only screen and (max-width: 800px) {
    .contact-links, .contact-form-wrapper {
      width: 100%;
    }
    
    .contact-links {
      border-radius: 10px 10px 0 0;
    }
    
    .contact-form-wrapper {
      border-radius: 0 0 10px 10px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .contact-box {
      width: 95%;
      margin: 8% 5%;
    }
  }
  
  .contact-box h2 {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
  }
  
  .contact-box .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .contact-box.link {
    margin: 10px;
    cursor: pointer;
  }
  
  .contact-box img {
    width: 45px;
    height: 45px;
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #0006);
    transition: 0.2s;
    user-select: none;
  }
  
  .contact-box img:hover {
    transform: scale(1.1, 1.1);
  }
  
  .contact-box img:active {
    transform: scale(1.1, 1.1);
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #222)
      sepia(0.3);
  }
  
  .contact-box .form-item {
    position: relative;
  }
  
  .contact-box label, input, textarea {
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-box label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
  }
  
  .contact-box input, textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
  }
  
 .contact-box input:focus+label, 
 .contact-box input:valid+label, 
 .contact-box textarea:focus+label, 
 .contact-box textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
  }
  
  .contact-box .submit-btn {
    background-color: #fd917e;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  
 .contact-box .submit-btn:hover {
    transform: scale(1.1, 1.1);
  }
  
 .contact-box .submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
  
  @media only screen and (max-width: 800px) {
  .contact-box  h2 {
      font-size: clamp(40px, 10vw, 60px);
    }
  }
  
  @media only screen and (max-width: 400px) {
  .contact-box  h2 {
      font-size: clamp(30px, 12vw, 60px);
    }
    
  .contact-box  .links {
      padding-top: 30px;
    }
    
  .contact-box  img {
      width: 38px;
      height: 38px;
    }
  }
   */